.tai-ad-removed {
  display: none !important;
}

.tai-ad-replaced {
  background-color: pink;
  padding: 10px;
}

.tai-cookies-replaced {
  position: fixed;
  z-index: 9999;
  left: 0;
  bottom: 0;
  padding: 15px;
  background-color: pink;

  text-align: center;
  right: 0;
}
